/* bg-color, bg, color, margin, width, height, padding, position, top right left bottom, align, box, box shadow */



html, body{
    background-color: black;
    background: url(assets/homepage/my-websites-background.svg) fixed no-repeat;
    background-size: cover;
    background-position-x: 50%;
    margin: 0%;
    padding: 0%;
}

a{
    color: inherit;
}

#firstHeader{
    background-color: rgba(34, 55, 100, 0.75);
    color: aliceblue;
    margin-top: 5%;
    margin: 0 auto;
    width: 400px;
    height: 240px;
    text-align: center;
    box-shadow: 8px 8px 9px 1px rgb(44, 95, 146);
}

#selections{
    background-color: rgba(10, 9, 49, 0.4);
    width: 231px;
    position: fixed;
    top:2%;
    left: 10px;
    bottom: auto;
}

#pageSelection{
    background-color: rgba(0, 0, 0, 0.0);
    color: antiquewhite;
    width: 100%;
    text-align: center;
    box-shadow: 3px 3px 9px 1px rgb(44, 95, 146);
}
.pageSelectionOptions{
    background-color: rgba(10, 9, 49, 1);
}

.buttons{
    margin: 1%;
    width: 50px;
    height: 50px;
    padding: 0%;
    border: 0px;
    box-shadow: 3px 3px 9px 1px rgb(44, 95, 146);
}
#portfolioButton{
    background-color: rgba(0, 0, 0, 0);
    background-image: url(assets/homepage/portfolio.svg);
    background-size: contain;
}
#githubButton{
    background-color: rgba(0, 0, 0, 0);
    background-image: url(assets/homepage/github-mark.svg);
    background-size: contain;
}
#contactsButton{
    background-color: rgba(0, 0, 0, 0);
    background-image: url(assets/homepage/contacts.svg);
    background-size: contain;
}
#freeCodeCampButton{
    background-color: rgba(0, 0, 0, 0);
    background-image: url(assets/homepage/radio.svg);
    background-size: contain;
}

#radioPlayerIndicator{
    display: none;
}

#snippets{
    background-color: rgba(10, 9, 49, 0.4);
    margin-top: 8%;
    padding-top: 0.75%;
    padding-bottom: 0.75%;
    box-shadow: 3px 3px 9px 1px rgb(44, 95, 146);
}

#firstSnippetText, #secondSnippetText, #thirdSnippetText{
    background-color: rgba(10, 9, 49, 0.7);
    color:antiquewhite;
    width: 50%;
    padding-left: 1%;
    padding-right: 1%;
    text-align:left;
    box-shadow: 3px 3px 9px 1px rgb(44, 95, 146);
    font-size: 20px;
}
#firstSnippetHeader{
    margin-top: 0%;
}

#firstSnippet{
    background-color: rgba(0, 0, 0, 0);
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 95%;
    display: flex;
}
#secondSnippet{
    background-color: rgba(0, 0, 0, 0);
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 95%;
    display: flex;
}
#thirdSnippet{
    background-color: rgba(0, 0, 0, 0);
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 95%;
    display: flex;
}

#firstSnippetText{
    width: 50%;
}
#firstSnippetsImage{
    width: 50%;
}

#secondSnippetsText{
    width: 50%;
}
#secondSnippetsImage{
    width: 50%;
}

#thirdSnippetsText{
    width: 50%;
}
#thirdSnippetsImage{
    width: 50%;
}

#ytPlayer{
    margin: 0 auto;
    width: 560px;
    height: 315px;
}
#youtubeHeader{
    color: antiquewhite;
    margin-top: 100px;
}

#game{
    margin: 0 auto;
    width: 600px;
    height: 400px;
}
#gameHeader{
    color: antiquewhite;
}

@media screen and (max-width: 900px), screen and (orientation: portrait){
    #firstHeader{
        margin-left: 0%;
        margin-right: 0%;
        width: 100%;
    }
    .buttons{
        display: none;
    }
    #firstSnippet, #secondSnippet, #thirdSnippet{
        margin: 0 auto;
        width: 90%;
        box-shadow: 0px 4px 9px 1px rgb(44, 95, 146);
    }
    #firstSnippetText, #secondSnippetText, #thirdSnippetText{
        width: 100%;
    }
    #firstSnippetsImage, #secondSnippetsImage, #thirdSnippetsImage{
        display: none;
    }
    #selections{
        width: auto;
    }
    #ytPlayer, #game{
        width: auto;
        height: auto;
        aspect-ratio: 16/9;
    }
}