html, body{
    background-color: black;
    background: url(assets/homepage/my-websites-background.svg) fixed no-repeat;
    background-size: cover;
    background-position-x: 50%;
    margin: 0%;
    padding: 0%;
}

a{
    color: inherit;
}

#firstHeader{
    background-color: rgba(34, 55, 100, 0.75);
    color: aliceblue;
    margin-top: 5%;
    margin: 0 auto;
    width: 400px;
    height: 240px;
    text-align: center;
    box-shadow: 8px 8px 9px 1px rgb(44, 95, 146);
}

#buttons{
    background-color: rgba(10, 9, 49, 0.4);
    width: 169px;
    position: fixed;
    top:2%;
    right: 10px;
    bottom: auto;
}

.buttons{
    margin: 1%;
    width: 50px;
    height: 50px;
    padding: 0%;
    border: 0px;
    box-shadow: 3px 3px 9px 1px rgb(44, 95, 146);
}
#portfolioButton{
    background-image: url(assets/homepage/portfolio.svg);
    background-size: contain;
    background-color: rgba(0, 0, 0, 0);
}
#githubButton{
    background-image: url(assets/homepage/github-mark.svg);
    background-size: contain;
    background-color: rgba(0, 0, 0, 0);
}
#contactsButton{
    background-image: url(assets/homepage/contacts.svg);
    background-size: contain;
    background-color: rgba(0, 0, 0, 0);
}

#snippets{
    background-color: rgba(10, 9, 49, 0.4);
    margin-top: 8%;
    padding-top: 0.75%;
    padding-bottom: 0.75%;
    box-shadow: 3px 3px 9px 1px rgb(44, 95, 146);
}
#firstSnippetHeader{
    margin-top: 0%;
}

#firstSnippet, #secondSnippet, #thirdSnippet{
    background-color: rgba(10, 9, 49, 0.7);
    width: 40%;
    padding-left: 1%;
    padding-right: 1%;
    color:antiquewhite;
    box-shadow: 3px 3px 9px 1px rgb(44, 95, 146);
    text-align:left;
}

#firstSnippet{
    margin-left: 5%;
}
#secondSnippet{
    margin-left: 53%;
}
#thirdSnippet{
    margin-left: 5%;
}

#firstSnippetsImage{
    margin-left: 126.5%;
    margin-top: -100%;
    width: 128px;
    height: 128px;
}
#secondSnippetsImage{
    margin-left: -71.5%;
    margin-top: -100%;
    width: 128px;
    height: 128px;
}
#thirdSnippetImage{
    margin-left: 126.5%;
    margin-top: -100%;
    width: 128px;
    height: 171px;
}

#game{
    margin: 0 auto;
    width: 50%;
}
#gameHeader{
    color: antiquewhite;
}