@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes marquee2 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

:root {
    --background: #e7e5d0;
    --foreground: #11111b;
    --card: #e7dbbf;
    --card-foreground: #11111b;
    --popover: #f3ead2;
    --popover-foreground: #11111b;
    --primary: #e64553;
    --primary-foreground: #ffffff;
    --secondary: #e0c6b7;
    --secondary-foreground: #11111b;
    --muted: #e0c6b7;
    --muted-foreground: #303446;
    --accent: #e0c6b7;
    --accent-foreground: #11111b;
    --destructive: #e64553;
    --destructive-foreground: #ffffff;
    --border: #11111b;
    --input: #e0c6b7;
    --ring: #7f7082;
    --chart-1: #fe640b;
    --chart-2: #04a5e5;
    --chart-3: #40a02b;
    --chart-4: #7287fd;
    --chart-5: #e64553;
    --sidebar: #e0c6b7;
    --sidebar-foreground: #11111b;
    --sidebar-primary: #e64553;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #7f7082;
    --sidebar-accent-foreground: #11111b;
    --sidebar-border: #7f7082;
    --shadow: 4px 4px 0px 0px var(--border);
}

.dark {
    --background: #191b2a;
    --foreground: #d1d5db;
    --card: #1f2130;
    --card-foreground: #d1d5db;
    --popover: #1f2130;
    --popover-foreground: #d1d5db;
    --primary: #e96a4c;
    --primary-foreground: #191b2a;
    --secondary: #2c2e3a;
    --secondary-foreground: #e96a4c;
    --muted: #2c2e3a;
    --muted-foreground: #9ca3af;
    --accent: #e96a4c;
    --accent-foreground: #11111b;
    --destructive: #e53e3e;
    --destructive-foreground: #ffffff;
    --border: #11111b;
    --input: #2c2e3a;
    --ring: #e96a4c;
    --chart-1: #e96a4c;
    --chart-2: #f9a825;
    --chart-3: #667eea;
    --chart-4: #38b2ac;
    --chart-5: #ed64a6;
    --sidebar: #1f2130;
    --sidebar-foreground: #d1d5db;
    --sidebar-primary: #e96a4c;
    --sidebar-primary-foreground: #191b2a;
    --sidebar-accent: #2c2e3a;
    --sidebar-accent-foreground: #e96a4c;
    --sidebar-border: #2c2e3a;
    --sidebar-ring: #e96a4c;
    --shadow: 4px 4px 0px 0px var(--border);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-ring: var(--ring);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);

    --spacing-boxShadowX: 4px;
    --spacing-boxShadowY: 4px;
    --spacing-reverseBoxShadowX: -4px;
    --spacing-reverseBoxShadowY: -4px;
    --radius: 0.35rem;
    --radius-base: 0.35rem;
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-shadow: var(--shadow);
    --font-weight-base: 500;
    --font-weight-heading: 700;
    --font-mono: "Roboto Mono", monospace;

    --animate-marquee: marquee 15s linear infinite;
    --animate-marquee2: marquee2 15s linear infinite;
}

@layer base {
    * {
        @apply select-text;
    }

    body {
        @apply text-foreground font-base bg-background;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-heading;
    }

    ::selection {
        @apply text-primary-foreground bg-primary;
    }

    #finisher-canvas {
        background-color: transparent !important;
    }

    #background-image-container {
        display: none;
    }

    .dark #background-image-container {
        display: block !important;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 80%;
        z-index: -1;
        background-image: url("/witchHutBackground.webp");
        background-size: cover;
        background-position: center;
        filter: blur(10px);
        animation: fadeIn 2s ease-in-out forwards;
        -webkit-mask-image: linear-gradient(
            to bottom,
            transparent 0%,
            black 100%
        );
        mask-image: linear-gradient(to bottom, transparent 0%, black 100%);
    }
}
