---
import { Card, CardHeader } from "@/components/ui/card";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Graphics">
    <div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8 py-4" id="graphics">
        <Card
            className="max-w-2xl w-full p-3 bg-transparent shadow-none shadow-transparent border-none"
        >
            <CardHeader
                className="font-bold text-lg text-primary underline underline-offset-3 p-0 text-center"
            >
                My graphics gallery
            </CardHeader>
            <div class="text-pretty">
                I used to do graphics designing some time ago. Here are some of
                my work. Most of them are made using
                <a
                    href="https://inkscape.org/"
                    target="_blank"
                    class="dark:text-accent text-primary underline underline-offset-3"
                    >Inkscape</a
                >. Some are using <a
                    href="https://www.blender.org/"
                    target="_blank"
                    class="dark:text-accent text-primary underline underline-offset-3"
                    >Blender</a
                >
            </div>
            <div
                class="columns-1 sm:columns-2 md:columns-3 gap-4 space-y-4 py-4"
                id="gallery"
            >
                <div
                    class="break-inside-avoid shadow-shadow border-border border-2 rounded overflow-clip hover:scale-105 transition-all duration-200 backdrop-blur-3xl"
                    style="background-image:url(/anargia.webp); background-size: cover; background-position: center;"
                >
                    <div
                        class="backdrop-blur-3xl bg-black/40 hover:scale-105 transition-all duration-200"
                    >
                        <img
                            class="w-80 sm:w-64 md:w-50 h-auto object-contain hover:scale-95 transition-all duration-200"
                            src="/anargia.webp"
                            alt="An image from my portfolio"
                        />
                    </div>
                </div>
                <div
                    class="break-inside-avoid shadow-shadow border-border border-2 rounded overflow-clip hover:scale-105 transition-all duration-200 backdrop-blur-3xl"
                    style="background-image:url(/charcoal-and-churrasco.webp); background-size: cover; background-position: center;"
                >
                    <div
                        class="backdrop-blur-3xl bg-black/40 hover:scale-105 transition-all duration-200"
                    >
                        <img
                            class="w-80 sm:w-64 md:w-50 h-auto object-contain hover:scale-95 transition-all duration-200"
                            src="/charcoal-and-churrasco.webp"
                            alt="An image from my portfolio"
                        />
                    </div>
                </div>
                <div
                    class="break-inside-avoid shadow-shadow border-border border-2 rounded overflow-clip hover:scale-105 transition-all duration-200 backdrop-blur-3xl"
                    style="background-image:url(/rev-candy-box-render.webp); background-size: cover; background-position: center;"
                >
                    <div
                        class="backdrop-blur-3xl bg-black/40 hover:scale-105 transition-all duration-200"
                    >
                        <img
                            class="w-80 sm:w-64 md:w-50 h-auto object-contain hover:scale-95 transition-all duration-200"
                            src="/rev-candy-box-render.webp"
                            alt="An image from my portfolio"
                        />
                    </div>
                </div>
                <div
                    class="break-inside-avoid shadow-shadow border-border border-2 rounded overflow-clip hover:scale-105 transition-all duration-200 backdrop-blur-3xl"
                    style="background-image:url(/grizzly-denim.webp); background-size: cover; background-position: center;"
                >
                    <div
                        class="backdrop-blur-3xl bg-black/40 hover:scale-105 transition-all duration-200"
                    >
                        <img
                            class="w-80 sm:w-64 md:w-50 h-auto object-contain hover:scale-95 transition-all duration-200"
                            src="/grizzly-denim.webp"
                            alt="An image from my portfolio"
                        />
                    </div>
                </div>
                <div
                    class="break-inside-avoid shadow-shadow border-border border-2 rounded overflow-clip hover:scale-105 transition-all duration-200 backdrop-blur-3xl"
                    style="background-image:url(/lex-com-poster.webp); background-size: cover; background-position: center;"
                >
                    <div
                        class="backdrop-blur-3xl bg-black/40 hover:scale-105 transition-all duration-200"
                    >
                        <img
                            class="w-80 sm:w-64 md:w-50 h-auto object-contain hover:scale-95 transition-all duration-200"
                            src="/lex-com-poster.webp"
                            alt="An image from my portfolio"
                        />
                    </div>
                </div>
                <div
                    class="break-inside-avoid shadow-shadow border-border border-2 rounded overflow-clip hover:scale-105 transition-all duration-200 backdrop-blur-3xl"
                    style="background-image:url(/los-angeles-chocolatire-flyer.webp); background-size: cover; background-position: center;"
                >
                    <div
                        class="backdrop-blur-3xl bg-black/40 hover:scale-105 transition-all duration-200"
                    >
                        <img
                            class="w-80 sm:w-64 md:w-50 h-auto object-contain hover:scale-95 transition-all duration-200"
                            src="/los-angeles-chocolatire-flyer.webp"
                            alt="An image from my portfolio"
                        />
                    </div>
                </div>
                <div
                    class="break-inside-avoid shadow-shadow border-border border-2 rounded overflow-clip hover:scale-105 transition-all duration-200 backdrop-blur-3xl"
                    style="background-image:url(/metaphor.webp); background-size: cover; background-position: center;"
                >
                    <div
                        class="backdrop-blur-3xl bg-black/40 hover:scale-105 transition-all duration-200"
                    >
                        <img
                            class="w-80 sm:w-64 md:w-50 h-auto object-contain hover:scale-95 transition-all duration-200"
                            src="/metaphor.webp"
                            alt="An image from my portfolio"
                        />
                    </div>
                </div>
                <div
                    class="break-inside-avoid shadow-shadow border-border border-2 rounded overflow-clip hover:scale-105 transition-all duration-200 backdrop-blur-3xl"
                    style="background-image:url(/portfolio-website-top-image.webp); background-size: cover; background-position: center;"
                >
                    <div
                        class="backdrop-blur-3xl bg-black/40 hover:scale-105 transition-all duration-200"
                    >
                        <img
                            class="w-80 sm:w-64 md:w-50 h-auto object-contain hover:scale-95 transition-all duration-200"
                            src="/portfolio-website-top-image.webp"
                            alt="An image from my portfolio"
                        />
                    </div>
                </div>
                <div
                    class="break-inside-avoid shadow-shadow border-border border-2 rounded overflow-clip hover:scale-105 transition-all duration-200 backdrop-blur-3xl"
                    style="background-image:url(/orange-loop.webp); background-size: cover; background-position: center;"
                >
                    <div
                        class="backdrop-blur-3xl bg-black/40 hover:scale-105 transition-all duration-200"
                    >
                        <img
                            class="w-80 sm:w-64 md:w-50 h-auto object-contain hover:scale-95 transition-all duration-200"
                            src="/orange-loop.webp"
                            alt="An image from my portfolio"
                        />
                    </div>
                </div>
                <div
                    class="break-inside-avoid shadow-shadow border-border border-2 rounded overflow-clip hover:scale-105 transition-all duration-200 backdrop-blur-3xl"
                    style="background-image:url(/scarlet-mira-sign-mordernish.webp); background-size: cover; background-position: center;"
                >
                    <div
                        class="backdrop-blur-3xl bg-black/40 hover:scale-105 transition-all duration-200"
                    >
                        <img
                            class="w-80 sm:w-64 md:w-50 h-auto object-contain hover:scale-95 transition-all duration-200"
                            src="/scarlet-mira-sign-mordernish.webp"
                            alt="An image from my portfolio"
                        />
                    </div>
                </div>
                <div
                    class="break-inside-avoid shadow-shadow border-border border-2 rounded overflow-clip hover:scale-105 transition-all duration-200 backdrop-blur-3xl"
                    style="background-image:url(/scarlet-mira-sign.webp); background-size: cover; background-position: center;"
                >
                    <div
                        class="backdrop-blur-3xl bg-black/40 hover:scale-105 transition-all duration-200"
                    >
                        <img
                            class="w-80 sm:w-64 md:w-50 h-auto object-contain hover:scale-95 transition-all duration-200"
                            src="/scarlet-mira-sign.webp"
                            alt="An image from my portfolio"
                        />
                    </div>
                </div>
                <div
                    class="break-inside-avoid shadow-shadow border-border border-2 rounded overflow-clip hover:scale-105 transition-all duration-200 backdrop-blur-3xl"
                    style="background-image:url(/rev-candy-box.webp); background-size: cover; background-position: center;"
                >
                    <div
                        class="backdrop-blur-3xl bg-black/40 hover:scale-105 transition-all duration-200"
                    >
                        <img
                            class="w-80 sm:w-64 md:w-50 h-auto object-contain hover:scale-95 transition-all duration-200"
                            src="/rev-candy-box.webp"
                            alt="An image from my portfolio"
                        />
                    </div>
                </div>
                <div
                    class="break-inside-avoid shadow-shadow border-border border-2 rounded overflow-clip hover:scale-105 transition-all duration-200 backdrop-blur-3xl"
                    style="background-image:url(/south-bop.webp); background-size: cover; background-position: center;"
                >
                    <div
                        class="backdrop-blur-3xl bg-black/40 hover:scale-105 transition-all duration-200"
                    >
                        <img
                            class="w-80 sm:w-64 md:w-50 h-auto object-contain hover:scale-95 transition-all duration-200"
                            src="/south-bop.webp"
                            alt="An image from my portfolio"
                        />
                    </div>
                </div>
                <div
                    class="break-inside-avoid shadow-shadow border-border border-2 rounded overflow-clip hover:scale-105 transition-all duration-200 backdrop-blur-3xl"
                    style="background-image:url(/effects.webp); background-size: cover; background-position: center;"
                >
                    <div
                        class="backdrop-blur-3xl bg-black/40 hover:scale-105 transition-all duration-200"
                    >
                        <img
                            class="w-80 sm:w-64 md:w-50 h-auto object-contain hover:scale-95 transition-all duration-200"
                            src="/effects.webp"
                            alt="An image from my portfolio"
                        />
                    </div>
                </div>
            </div>
        </Card>
    </div>
</BaseLayout>
