---
import "../styles/global.css";
const {
    title = "Doctorthe113",
    description = "I am an indie fullstack developer. I do programming in my free time. I am learning embedded C, and GO and Rust for backend. I am also learning more and more about NextJS and react everyday to ship better web apps 🚀",
} = Astro.props;
import { DarkModeToggle } from "../components/darkmodeToggle";
import { Button } from "../components/ui/button";
import { Github } from "lucide-react";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta name="darkreader-lock" />
        <link rel="icon" type="image/svg+xml" href="/favicon.webp" />
        <title>{title + " - doctorthe113.com"}</title>
        <meta name="author" content="Doctorthe113" />
        <meta name="description" content={description} />
        <meta
            name="keywords"
            content="fullstack developer, react, nextjs, typescript, astro, react native, tauri, rust, go, portfolio, blog"
        />

        <!-- Open Graph -->
        <meta property="og:title" content={title + " - doctorthe113.com"} />
        <meta property="og:description" content={description} />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="" />
        <meta property="og:image" content="/my-emblem.webp" />
        <meta property="og:image:alt" content="Website preview image" />
        <meta property="og:site_name" content="doctorthe113.com" />

        <!-- Twitter -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content={title + " - doctorthe113.com"} />
        <meta name="twitter:description" content={description} />
        <meta name="twitter:image" content="/my-emblem.webp" />
        <meta name="twitter:image:alt" content="Website preview image" />
        <script is:inline>
            const getThemePreference = () => {
                if (
                    typeof localStorage !== "undefined" &&
                    localStorage.getItem("theme")
                ) {
                    return localStorage.getItem("theme");
                }
                return window.matchMedia("(prefers-color-scheme: dark)").matches
                    ? "dark"
                    : "light";
            };
            const isDark = getThemePreference() === "dark";
            document.documentElement.classList[isDark ? "add" : "remove"](
                "dark"
            );

            if (typeof localStorage !== "undefined") {
                const observer = new MutationObserver(() => {
                    const isDark =
                        document.documentElement.classList.contains("dark");
                    localStorage.setItem("theme", isDark ? "dark" : "light");
                });
                observer.observe(document.documentElement, {
                    attributes: true,
                    attributeFilter: ["class"],
                });
            }
        </script>
    </head>
    <body
        class="bg-background font-mono flex flex-col justify-center items-center"
    >
        <div
            class="max-w-3xl w-full flex justify-between px-2 py-2 dark:bg-secondary bg-sidebar md:rounded-base border-b-2 md:border-2 border-border shadow-shadow gap-2 sticky md:top-2 z-100 items-center"
            id="header"
        >
            <a
                class="hover:text-primary hover:underline underline-offset-3 mx-1 font-bold text-sm min-[360px]:text-base cursor-pointer select-none transition-all duration-100"
                href="/">Home</a
            >
            <!-- <a
                class="hover:text-primary hover:underline underline-offset-3 mx-1 font-bold text-xs xs:text-sm min-[360px]:text-base cursor-pointer select-none transition-all duration-100"
                href="/blogBrowser">Blog</a
            > -->
            <a
                class="hover:text-primary hover:underline underline-offset-3 mx-1 font-bold text-xs xs:text-sm min-[360px]:text-base cursor-pointer select-none transition-all duration-100"
                href="/projects">Projects</a
            >
            <a
                class="hover:text-primary hover:underline underline-offset-3 mx-1 font-bold text-xs xs:text-sm min-[360px]:text-base cursor-pointer select-none transition-all duration-100"
                href="/graphics">Graphics</a
            >
            <div class="flex gap-2 ml-auto text-primary">
                <Button client:idle className="w-9 h-8 p-0">
                    <a
                        href="https://github.com/Doctorthe113"
                        class="h-full w-full flex justify-center items-center"
                        target="_blank"
                    >
                        <Github className="" />
                    </a>
                </Button>
                <DarkModeToggle client:idle />
            </div>
        </div>
        <slot />
    </body>
</html>
